*{
    margin: 0;
    padding: 0;
}
#content{
    width: 200px;
    height: 180px;
    border: 2px solid red;
    position: relative;
}
.text{
    height: 154px;
    width: 100%;
}
img{
    width: 100%;
    height: 162px;
}
#menu1{

}
#menu3{
    height: 32px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    color: aliceblue;
}
#menu2{
    height: 32px;
    bottom: 0px;
    background: black;
    opacity: 0.2;
    position: absolute;
    width: 100%;
}